@using QuickSnapApp.Canvas.Providers
@using Blazor.Extensions.Canvas

<div style="display:none">
    <BECanvasProvider @ref="stagingCanvas" Width="Width" Height="Width"></BECanvasProvider>
</div>
<BECanvasProvider @ref="targetCanvas" Width="Width" Height="Width"></BECanvasProvider>