@using QuickSnapApp.Canvas.Providers
@using Blazor.Extensions.Canvas

<div style="display:none">
    <BECanvasProvider @ref="_stagingCanvas" Width="Width" Height="Width"></BECanvasProvider>
</div>
<BECanvasProvider @ref="_targetCanvas" Width="Width" Height="Width"></BECanvasProvider>