@using Blazor.Extensions.Canvas
@using QuickSnappApp.Canvas

@page "/clock"

<div class="container">
    <div class="row">
        <div class="col-xl-12 d-flex justify-content-center">
            <AnalogClock @ref="_analogClock" Width="400" BackgroundColor="#007bff" ForegroundColor="#f8f9fa"></AnalogClock>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="time-box">
                @timeOfDay
            </div>
        </div>
    </div>
</div>