@page "/home"

<div class="container">
    <h1 class="text-center option-header">Choose an option</h1>
    <div class="button-container">
        <button class="btn btn-primary option-btn" @onclick="OnNavigateClock">Clock</button>
        <button class="btn btn-primary option-btn" @onclick="OnNavigateNativeCamera">Native Camera</button>
        <button class="btn btn-primary option-btn" @onclick="OnNavigateToolkitCamera"> Camera</button>
        <button class="btn btn-primary option-btn" @onclick="OnDeleteAccount">Delete Account</button>
    </div>
</div>

