@page "/register"

<div class="main-content">

    <div class="row register-banner">
        <img src="img/register.png" />
    </div>

    <EditForm Model="registerModel" OnValidSubmit="OnRegister">
        <DataAnnotationsValidator />

        <div class="mb-3">
            <InputText placeholder="Username" @bind-Value="registerModel.Username" class="form-control" />
            <ValidationMessage For="@(() => registerModel.Username)" />
        </div>

        <div class="mb-3">
            <InputText placeholder="Password" @bind-Value="registerModel.Password" type="password" class="form-control" />
            <ValidationMessage For="@(() => registerModel.Password)" />
        </div>

        <button type="submit" class="btn btn-primary register-btn">Register</button>
    </EditForm>
</div>
