@using Blazor.Extensions.Canvas

<div style="display:none">
    <BECanvas @ref="stagingCanvas" Width="Width" Height="Width"></BECanvas>
</div>
<BECanvas @ref="targetCanvas" Width="Width" Height="Width"></BECanvas>