@using Blazor.Extensions.Canvas

@page "/clock"

<div style="display:none">
    <BECanvas @ref="canvasReferenceA" Width="400" Height="400"></BECanvas>
</div>

<BECanvas @ref="canvasReferenceB" Width="400" Height="400"></BECanvas>