@using Blazor.Extensions.Canvas

@page "/clock"

<div style="display:none">
    <BECanvas @ref="stagingCanvas" Width="400" Height="400"></BECanvas>
</div>
<div class="container">
    <div class="row">
        <div class="col-xl-12 d-flex justify-content-center">
            <BECanvas @ref="targetCanvas" Width="400" Height="400"></BECanvas>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="time-box">
                @timeOfDay
            </div>
        </div>
    </div>
</div>